<%- include("./partials/header"); -%>
<body>
    <h1>Contact</h1>
    <p><%= Text%></p>
    <a href="https://github.com/ULTRAPAIN" style="text-decoration:none; color: inherit;"><p style="color:black;font-weight:bold" >Github</p></a>
    <p style="color:black;font-weight:bold" >Dashrathpatel0810@gmail.com</p></a>
</body>
</html>

<%- include("./partials/footer"); -%>
<!-- ok -->